<!-- The Modal -->
<div id="modal" class="modal glass">
    <!-- Modal content -->
    <div class="form-div glass">
        <div id="particles-js"></div>
        <span class="close" (click)="closeModal()">&times;</span>
        <!-- Butonul de ascundere formular. La evenimentul click se apeleaza functia closeModal() a componentei curente (add-user-modal) si modala se va inchide-->
        <div class="title">Add new user</div>

        <form [formGroup]="userForm" autocomplete="off">
            <!-- Specificam numele formularului din typescript -->


            <div class="input-container ic1">
                <input id="department" class="input" type="text" formControlName="department" required>
                <!-- la fiecare input specificam numele variabilei din typescript -->
                <!-- <div class="cut cut-short"></div> -->
                <label for="department" class="placeholder">Department:</label>
            </div> 

            <div class="input-container ic2">
                <input id="team" class="input" type="text" formControlName="team" required>
                <!--<div class="cut"></div>-->

                <label for="team" class="placeholder">Team:</label>
            </div>

            <div class="input-container ic2">
                <input id="role" class="input" type="text" formControlName="role" required>
                <!--<div class="cut"></div>-->

                <label for="role" class="placeholder">Role:</label>
            </div>

            <div class="input-container ic2">
                <input id="name" class="input" type="text" formControlName="name" required>
                <!--<div class="cut"></div>-->

                <label for="name" class="placeholder">Name:</label>
            </div>

            <div class="input-container ic2">
                <input id="email" class="input" type="email" formControlName="email" required>
                <!--<div class="cut"></div>-->

                <label for="email" class="placeholder">E-mail:</label>
            </div>

            <div class="input-container ic2">
                <input id="phone" class="input" type="text" formControlName="phone" required>
                <!--<div class="cut"></div>-->

                <label for="phone" class="placeholder">Phone number:</label>
            </div>

            <div class="input-container ic2">
                <input id="password" class="input" type="text" formControlName="password" required>
                <!--<div class="cut"></div>-->

                <label for="password" class="placeholder">Password:</label>
            </div>

        </form>

        <button type="button" class="submit" (click)="addUser()">Add</button>
        <!-- Butonul de adaugare utilizator. La evenimentul click se apeleaza functia addUser() a componentei curente (add-user-modal) si utilzatorul va fi inregistrat-->
    </div>
</div>