<!-- Cu functia ngIf verificam variabila isLoading. Aceasta variabila incepe cu valoarea true, iar apoi este schimbata in false la sfarsitul setului de instructiuni. -->
<ng-template [ngIf]="isLoading" [ngIfElse]="displayList">
    <p>
        Loading...
    </p>
</ng-template>

<ng-template #displayList>
    

<div class="users-table-div">
    <button type="button" class="btn btn-primary" (click)="openModal()">Add user</button>
    <!-- Butonul de adaugat users. La evenimentul click se apeleaza functia openModal() din componenta curenta (admin-home-page) si se afiseaza pe ecran formularul de adaugare -->

    <table mat-table [dataSource]="dataSource" matSort class="table table-hover">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- Department Column -->
        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by department">Department
            </th>
            <td mat-cell *matCellDef="let element">{{element.department}}</td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by team">Team</th>
            <td mat-cell *matCellDef="let element">{{element.team}}</td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role">Role</th>
            <td mat-cell *matCellDef="let element">{{element.role}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- E-mail Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let user"><app-user [user]="user" (newGetUsersEvent)="getUsers()"></app-user>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20,10,50,100]" showFirstLastButtons> 
    </mat-paginator>
    <!-- Here, we bind the pageSize and pageIndex properties of the MatPaginator to the corresponding properties of the dataSource.paginator. We also set a default value of 20 for the pageSize in case the paginator object is null or undefined. -->
</div>
</ng-template>

<app-add-user-modal *ngIf="isModalOpen" (newCloseModalEvent)="closeModal()"
    (newGetUsersEvent)="getUsers()"></app-add-user-modal>
<!-- Evenimentul newCloseModalEvent este emis din componenta copil add-user-modal si este receptionat de catre componenta parinte admin-home-page, care apeleaza functia proprie closeModal() si ascunde la loc formularul de adaugare utilizatori. -->