.users-table-div {
    /* position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    /* background-color: palegreen; */
    /* border-radius: 20px;
    box-sizing: border-box;
    height: 90%; 
    padding: 20px;
    width: 100%; */

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;

    
}



th {
    font-weight: bold;
}


.mat-mdc-row .mat-mdc-cell {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: black;
    background-color: #ebeaea;
}

th.mat-sort-header-sorted {
    color: black;
}